
/* degub text centrato  */
.dbg_lh_txt
{
    line-height: 250px;
    text-align: center;
}

body
{
    text-align: center;
}

[class*="col-"]
{
    background-color: #FFC0CB;
    padding: 5px;
    border: 1px solid black;
}


.col-6 .row .col-2,
.col-6 .row .col-8,
.col-6 .row .col-6
{
    background-color: #F07F80;
    border: 1px solid white;
}


